@page
@model VFM.Views.Main.AdminModel
@{
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="~/css/main.css">
    <link type="text/css" rel="stylesheet" href="~/css/admin.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <h1>
            <a href="/VirtualFileManager">
                VFM
            </a>
        </h1>

        <div class="ButtonBlock">
            <button>
                <a href="/Auth/Exit">
                    Выйти
                </a>
            </button>

            <button id="createUser">
                Создать пользователя
            </button>
        </div>
    </div>
    <div class="content">
        <form class="userBlock">
            <p>ID</p>
            <input placeholder="Login" text="Lineyss" maxlength="20" required />
            <input placeholder="Password" text="password" maxlength="25" required />
            <div>
                <span>isAdmin</span>
                <select>
                    <option value="true" selected>true</option>
                    <option value="false">frue</option>
                </select>
            </div>
            <div>
                <span>isAdmin</span>
                <select>
                    <option value="true" selected>true</option>
                    <option value="false">frue</option>
                </select>
            </div>
            <div>
                <span>isAdmin</span>
                <select>
                    <option value="true" selected>true</option>
                    <option value="false">frue</option>
                </select>
            </div>
            <div>
                <span>isAdmin</span>
                <select>
                    <option value="true" selected>true</option>
                    <option value="false">frue</option>
                </select>
            </div>
            <div>
                <span>isAdmin</span>
                <select>
                    <option value="true" selected>true</option>
                    <option value="false">frue</option>
                </select>
            </div>
            <div>
                <span>isAdmin</span>
                <select>
                    <option value="true" selected>true</option>
                    <option value="false">frue</option>
                </select>
            </div>
            <div>
                <span>isAdmin</span>
                <select>
                    <option value="true" selected>true</option>
                    <option value="false">frue</option>
                </select>
            </div>
            <button>Сохранить</button>
        </form>
    </div>

    <div class="popupConteiner">
        <div class="loadPopup">
            <img src="~/image/loadIcon.svg" />
        </div>
        <div class="formContainer">
            <div class="contentFormContainer">
                <div class="topContentForm">

                </div>
                <div class="formContent">
                    <h1>Создать пользователя</h1>
                    <form>
                
                        <button type="submit">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
    <script type="module" src="~/js//Admin.js"></script>
</body>
</html>