@page
@model VFM.Views.Main.AdminModel
@{
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/js/checkAuthorizationUsers.js.js"></script>
    <link type="text/css" rel="stylesheet" href="~/css/main.css">
    <link type="text/css" rel="stylesheet" href="~/css/admin.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <h1>
            <a href="#">
                Виртуальный файловый менеджер
            </a>
        </h1>

        <div class="d1">
            <form>
                <input type="text" placeholder="Искать здесь..." maxlength="260">
                <button type="submit">Поиск</button>
            </form>
        </div>
    </div>
    <div class="content">
        <form class="userBlock">
            <p>ID</p>
            <input placeholder="Login" text="Lineyss" required />
            <input placeholder="Password" text="password" required />
            <div>
                <span>isAdmin</span>
                <select>
                    <option value="true" selected>true</option>
                    <option value="false">frue</option>
                </select>
            </div>
            <div>
                <span>isAdmin</span>
                <select>
                    <option value="true" selected>true</option>
                    <option value="false">frue</option>
                </select>
            </div>
            <div>
                <span>isAdmin</span>
                <select>
                    <option value="true" selected>true</option>
                    <option value="false">frue</option>
                </select>
            </div>
            <div>
                <span>isAdmin</span>
                <select>
                    <option value="true" selected>true</option>
                    <option value="false">frue</option>
                </select>
            </div>
            <div>
                <span>isAdmin</span>
                <select>
                    <option value="true" selected>true</option>
                    <option value="false">frue</option>
                </select>
            </div>
            <div>
                <span>isAdmin</span>
                <select>
                    <option value="true" selected>true</option>
                    <option value="false">frue</option>
                </select>
            </div>
            <div>
                <span>isAdmin</span>
                <select>
                    <option value="true" selected>true</option>
                    <option value="false">frue</option>
                </select>
            </div>
            <button>Сохранить</button>
        </form>
    </div>
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</body>
</html>