@{
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="~/css/main.css">
    <link type="text/css" rel="stylesheet" href="~/css/admin.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <h1>
            <a href="/VirtualFileManager">
                VFM
            </a>
        </h1>

        <div class="ButtonBlock">
            <button>
                <a href="/Auth/Exit">
                    Выйти
                </a>
            </button>

            <button id="createUser">
                Создать пользователя
            </button>
        </div>
    </div>
    <div class="content">
    </div>

    <div class="pagination">
    </div>

    <div class="popupConteiner hidden">
        <div class="loadPopup hidden">
            <img src="~/image/loadIcon.svg" />
        </div>
        <div class="formContainer">
            <div class="contentFormContainer">
                <div class="topContentForm">
                    <span class="close"></span>
                </div>
                <div class="formContent">
                    <h1>Создать пользователя</h1>
                    <form method="post">
                        <div class="inputConteiner">
                            <input name="login" placeholder="Логин" required maxlength="20" />
                            <snap id="charCount"></snap>
                        </div>
                        <div class="inputConteiner">
                            <input name="password" type="password" placeholder="Пароль" required maxlength="25" />
                            <snap id="charCount"></snap>
                        </div>
                        <div>
                            <span>Админ</span>
                            <select name="isAdmin">
                                <option value="true" selected>Да</option>
                                <option value="false">Нет</option>
                            </select>
                        </div>
                        <div>
                            <span>Может создавать папку/файл</span>
                            <select name="createF">
                                <option value="true" selected>Да</option>
                                <option value="false">Нет</option>
                            </select>
                        </div>
                        <div>
                            <span>Может удалить папку/файл</span>
                            <select name="deleteF">
                                <option value="true" selected>Да</option>
                                <option value="false">Нет</option>
                            </select>
                        </div>
                        <div>
                            <span>Может обновить имя папки/файла</span>
                            <select name="updateNameF">
                                <option value="true" selected>Да</option>
                                <option value="false">Нет</option>
                            </select>
                        </div>
                        <div>
                            <span>Может скачивать файлы/папки</span>
                            <select name="downloadF">
                                <option value="true" selected>Да</option>
                                <option value="false">Нет</option>
                            </select>
                        </div>
                        <div>
                            <span>Может загружать файл/папку</span>
                            <select name="uploadF">
                                <option value="true" selected>Да</option>
                                <option value="false">Нет</option>
                            </select>
                        </div>
                        <button type="submit">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
    <script type="module" src="~/js/admin.js"></script>

</body>
</html>