@page
@model VFM.Views.Main.AdminModel
@{
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="~/js/clientManager.js"></script>
    <link type="text/css" rel="stylesheet" href="~/css/main.css">
    <link type="text/css" rel="stylesheet" href="~/css/admin.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <h1>
            <a href="/VirtualFileManager">
                VFM
            </a>
        </h1>

        <div class="d1">
            <form>
                <input id="myInput" type="text" placeholder="Искать здесь..." maxlength="266">
                <snap id="charCount">0/266</snap>
                <button type="submit">Поиск</button>
            </form>
        </div>

        <div class="ButtonBlock">
            <button>
                <a>
                    Выйти
                </a>
            </button>

            <button>
                <a>
                    Создать пользователя
                </a>
            </button>
        </div>
    </div>
    <div class="content">
        <form class="userBlock">
            <p>ID</p>
            <input placeholder="Login" text="Lineyss" maxlength="20" required />
            <input placeholder="Password" text="password" maxlength="25" required />
            <div>
                <span>isAdmin</span>
                <select>
                    <option value="true" selected>true</option>
                    <option value="false">frue</option>
                </select>
            </div>
            <div>
                <span>isAdmin</span>
                <select>
                    <option value="true" selected>true</option>
                    <option value="false">frue</option>
                </select>
            </div>
            <div>
                <span>isAdmin</span>
                <select>
                    <option value="true" selected>true</option>
                    <option value="false">frue</option>
                </select>
            </div>
            <div>
                <span>isAdmin</span>
                <select>
                    <option value="true" selected>true</option>
                    <option value="false">frue</option>
                </select>
            </div>
            <div>
                <span>isAdmin</span>
                <select>
                    <option value="true" selected>true</option>
                    <option value="false">frue</option>
                </select>
            </div>
            <div>
                <span>isAdmin</span>
                <select>
                    <option value="true" selected>true</option>
                    <option value="false">frue</option>
                </select>
            </div>
            <div>
                <span>isAdmin</span>
                <select>
                    <option value="true" selected>true</option>
                    <option value="false">frue</option>
                </select>
            </div>
            <button>Сохранить</button>
        </form>
    </div>
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</body>
</html>

<script>
    const inputField = document.getElementById('myInput');
    const charCount = document.getElementById('charCount');

    inputField.addEventListener('input', function () {
        charCount.textContent = `${inputField.value.length}/${inputField.maxLength}`;
    });

</script>