@page
@model VFM.Views.Auth.IndexModel
@{
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/js/checkAuthorizationUsers.js"></script>
    <link type="text/css" rel="stylesheet" href="~/css/main.css">
    <link type="text/css" rel="stylesheet" href="~/css/auth.css">
    <title>Document</title>
</head>
<body>
    <div class="Authorization">
        <h1>Авторизация</h1>
        <form method="post">
            <input placeholder="Логин" required maxlength="20">
            <input placeholder="Пароль" type="password" required maxlength="25">
            <button type="submit">Войти</button>
        </form>
    </div>
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</body>
</html>
<script src="~/js/auth.js"></script>