@page
@using VFM.Models
@{
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="~/css/main.css">
    <link type="text/css" rel="stylesheet" href="~/css/auth.css">
    <title>Document</title>
</head>
<body>
    <div class="Authorization">
        <h1>Авторизация</h1>
        <form method="post">
            <div class="inputConteiner">
                <input name="login" type="text" id="Login" placeholder="Логин" required maxlength="20">
                <snap id="charCount"></snap>
            </div>
            <div class="inputConteiner">
                <input name="password" id="Password" placeholder="Пароль" type="password" required maxlength="25">
                <snap id="charCount"></snap>
            </div>
            <button type="submit">Войти</button>
        </form>
    </div>
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</body>
</html>
<script type="module" src="~/js/Auth.js"></script>
