@model VFM.Models.Users.User
@{
    var isAdmin = Model?.isAdmin;
    string login = Model?.login;
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="~/css/main.css">
    <link type="text/css" rel="stylesheet" href="~/css/index.css">
    <title>Привет @login</title>
</head>
<body>
    <div class="header">
        <h1>
            <a href="/VirtualFileManager">
                VFM
            </a>
        </h1>

        <div class="d1">
            <form>
                <input id="myInput" name="path" type="text" placeholder="Искать здесь..." maxlength="32767">
                <snap id="charCount">0/32767</snap>
                <button type="submit">Поиск</button>
            </form>
        </div>

        <div class="ButtonBlock">

            <button id="createF">
                Создать файл/папку
            </button>

            <button id="upload">
                Загрузить
            </button>

            <button id="updateF" disabled="true">
                Изменить имя файла/папки
            </button>

            <button id="download" disabled="true">
                Скачать
            </button>

            <button id="delete" disabled="true">
                Удалить
            </button>
            @{  
                if (isAdmin != null || isAdmin == true)
                {
                    <button id="admin">
                        <a href="/VirtualFileManager/Admin">
                            Админ панель
                        </a>
                    </button>               
                }
            }

            <button id="exit">
                <a href="/Auth/Exit">
                    Выйти
                </a>
            </button>

        </div>
    </div>
    <div class="content">
        <table>
            <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        Логотип
                    </th>
                    <th>
                        Название
                    </th>
                    <th>
                        Полный путь до файла
                    </th>
                    <th>
                        Дата создания
                    </th>
                    <th>
                        Дата изменения
                    </th>
                    <th>
                        Размер
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class="pagination">
    </div>

    <div class="popupConteiner hidden">
        <div class="load hidden">
            <img src="~/image/loadIcon.svg" />
        </div>
        <div class="popupMain">
            <div class="closePopup">
                <span class="close"></span>
            </div>
            <div class="formPopup">
                <h1></h1>
                <form method="post">
                </form>
            </div>
        </div>
    </div>

    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</body>
</html>

<script type="module" src="~/js/index.js"></script>