@page
@model VFM.Views.Main.ViewFileModel
@{
}

<html>
    <head>
        <link type="text/css" rel="stylesheet" href="~/css/viewFile.css" />
@*        <script type="module" src="~/js/lib/docx-preview.min.js"></script>
        <script type="module" src="~/js/lib/jszip.min.js"></script>
        <script type="module" src="~/js/lib/xlsx.full.min.js"></script>*@
    </head>
    <body>
        <div class="loadPopup hidden">
            <img src="/image/loadIcon.svg" />
        </div>

        <div class="content">
        </div>
    </body>
    <script type="module" src="~/js/viewFile.js"></script>
</html>

