*
{
    margin: 0;
    padding: 0;
}

a
{
    text-decoration:none;
    color:black;
}

body, html
{
    width: 100%;
    height: 100%;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button
{
    padding: 5px 15px;
    cursor: pointer;
}

.header
{
    width: 99%;
    height: 10%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly  ;
}

.d1
{
    width:40%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.d1 > form
{
    width:100%;
    height:40%;
    border:1px solid black;
    display:flex;
}

.d1 > form > input
{
    height:100%;
    width:80%;
    padding-left:10px;
    border:0;
    outline:0;
}

.d1 > form > button {
    height: 100%;
    width: 14%;
    border: 0;
}

.d1 > form > snap {
    color:black;
    font-size:12px;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:0px 10px;
}

.ButtonBlock
{
    width:30%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:space-evenly; 
}

.content {
    width: 99%;
    height: 90%;
    border: 1px solid black;
}